#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "secretsanta"
name = "Secret Santa"
description.en = "Randomly pair participants for a Secret Santa gift exchange."

version = "2024.12.04~ynh1"

maintainers = ["Thovi98"]

[upstream]
license = "MIT"
website = "http://mael.dev/secretsanta/"
demo = "http://mael.dev/secretsanta/"
code = "https://github.com/arcanis/secretsanta"
fund = "https://github.com/sponsors/arcanis"

[integration]
yunohost = ">= 12.1.39"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/example"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/arcanis/secretsanta/archive/bb6c56e78436bdefb61ab4155f5c69cbeddc80c9.tar.gz"
    sha256 = "129819960000372e2f125c3d1ab4c6729dbde2cccf2c2fd1b9d83706be85720d"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.nodejs]
    version = "22.20"
